body {
    background-image: url(http://review.com/images/genre.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.linked {
    color: #fff;
}

.tabela {
    background-color: rgba(30, 30, 30, 0.6);
}

.tabela tbody tr:hover {
    color: #FFC107;
}

.table-curved {
    border-radius: 6px;
    border-left: 0px;
}

.table-curved th {
    border-top: none;
}

.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}

.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}

.table-curved th:only-child {
    border-radius: 6px 6px 0 0;
}

.table-curved tr:last-child {
    border-radius: 0 0 0 6px;
}

.table-curved tr:last-child {
    border-radius: 0 0 6px 0;
}
